<?xml version="1.0"?>
<!--
Create your own loggly.user.config file using this file as a template.
Don't forget to update it with your own customer token 
-->
<loggly 
  xmlns="Loggly" 
  applicationName="LogglyNlogTargetDemo" 
  customerToken="!!!!your token here!!!!" 
  messageTransport="SyslogUdp"
  throwExceptions="true">
  
  <tags>
    <simple>
      <tag value="winforms"/>
    </simple>
    <complex>
      <tag type="Loggly.HostnameTag" formatter="host-{0}"/>
      <tag type="Loggly.ApplicationNameTag" formatter="application-{0}"/>
      <tag type="Loggly.OperatingSystemVersionTag" formatter="os-{0}"/>
      <tag type="Loggly.OperatingSystemPlatformTag" formatter="platform-{0}"/>
    </complex>
  </tags>
</loggly>