<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="loggly-csharp" version="4.6.1.45" targetFramework="net451" />
  <package id="loggly-csharp-config" version="4.6.1.45" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="NLog" version="4.5.0" targetFramework="net451" />
</packages>