<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="loggly-csharp" version="3.5.0" targetFramework="net451" />
  <package id="loggly-csharp-config" version="3.5.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net451" />
  <package id="NLog" version="2.1.0" targetFramework="net451" />
</packages>