<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="loggly-csharp" version="4.6.1.45" targetFramework="net452" />
  <package id="loggly-csharp-config" version="4.6.1.45" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NLog" version="4.5.0" targetFramework="net452" />
  <package id="NUnit" version="3.10.1" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net452" />
</packages>