<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="loggly-csharp" version="4.5.1.6" targetFramework="net451" />
  <package id="loggly-csharp-config" version="4.5.1.6" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="NLog" version="3.1.0.0" targetFramework="net451" />
</packages>